{{> head }}
{{> navbar }}


    <div class="row">
        
            <div class="col-8">
                <h1>Dota 2 The International 2019 TI9 live score and standings</h1>
<p>You might think keeping up with the world's biggest congregation of Dota 2 teams and players would be hard to follow, and you wouldn't be wrong. 
Fortunately, the folks at Valve have done a lot of work making sure it's easier than ever to watch games live and keep up with current bracket standings.</p>
            </div>
         </div>

         <div class="col-4">
             <img src="assets/img/dota-2-the-international-2019-ti9-standings-live-scores.jpg" class="img-thumbnail">
                
            </div>
         </div>


    {{> footer }}